rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow anyone to read configuration, but only authenticated users to write.
    match /configuration/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Lock down all other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
