
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read on configuration data, but no writes.
    match /configuration/{docId} {
      allow read: if true;
      allow write: if false;
    }

    // Allow read and write access to transactions.
    // In a production app, you would lock this down further,
    // for example: `allow read, write: if request.auth != null;`
    // This would only allow authenticated users to access the data.
    match /ramp_transactions/{transactionId} {
      allow read, write: if true;
    }
  }
}
